<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <script src="/lib/jquery/1.12.4/jquery.min.js"></script>
    <script src="/lib/bootstrap/3.3.7/js/bootstrap.js"></script>
    <link href="/lib/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet" />
    <link href="/lib/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="/css/framework-style.css" rel="stylesheet" />
    <script src="/lib/art-template/lib/template-web.js"></script>
    <link href="~/lib/jqPaginator/dist/jqpaginator.min.css" rel="stylesheet" />
    <script src="~/lib/jqPaginator/dist/jqpaginator.min.js"></script>
    <script src="/js/framework-ui.js"></script>
    <style type="text/css">
    </style>
    <script id="social-feed-box" type="text/html">
        {{each wxNews as row index}}
        <div class="social-feed-box">
            <div class="pull-right social-action dropdown">
                <button data-toggle="dropdown" class="dropdown-toggle btn-white">
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu m-t-xs">
                    <li><a href="javascript:void(0);" class="newsEdit" data-id="{{row.Id}}">编辑</a></li>
                    <li><a href="javascript:void(0);" class="newsDelete" data-id="{{row.Id}}">删除</a></li>
                    <li><a href="javascript:void(0);">设置</a></li>
                </ul>
            </div>
            <div class="social-avatar">
                <a href="javascript:void(0);" class="pull-left">
                    <img alt="image" src="{{row.WxNewsItems[0].Thumb.FilePath}}">
                </a>
                <div class="media-body">
                    <a href="javascript:void(0);">
                        {{row.WxNewsItems[0].Author}}
                    </a>
                    <small class="text-muted">8月18日</small>
                </div>
            </div>
            <div class="social-body">
                <p>
                    {{row.WxNewsItems[0].Title}}
                </p>
            </div>
            <div class="social-footer">
                {{each row.WxNewsItems as item i}}
                {{if i > 0}}
                <div class="social-comment">
                    <a href="javascript:void(0);" class="pull-left">
                        <img alt="image" src="{{item.Thumb.FilePath}}">
                    </a>
                    <div class="media-body">
                        <a href="javascript:void(0);">
                            {{item.Author}}
                        </a> {{item.Title}}
                        <br>
                        <a href="javascript:void(0);" class="small"><i class="fa fa-thumbs-up"></i> 26</a> -
                        <small class="text-muted">8月18日</small>
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
        {{/each}}
    </script>
</head>
<body class="gray-bg">
    <div class="wrapper animated fadeInRight">
        <div class="row m-b-sm m-t-sm">
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" placeholder="请输入项目名称" class="input-sm form-control"> <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i> 搜索图文素材</button>
                    </span>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="customBootstrap no-margins">
                    <ul id="jqpagination" class="pagination no-margins"></ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pull-right">
                    <a href="javascript:void(0);" class="btn btn-sm btn-primary" onclick="$.reload()"><i class="fa fa-refresh"></i> </a>
                    <a href="javascript:void(0);" id="btnAdd" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> 新增图文素材</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="col1" class="col-sm-3">

            </div>
            <div id="col2" class="col-sm-3">

            </div>
            <div id="col3" class="col-sm-3">

            </div>
            <div id="col4" class="col-sm-3">

            </div>
        </div>
    </div>
    <script type="text/javascript">
        var page = 1;
        var rows = 10;
        $(function () {
            $("#jqpagination").jqPaginator({
                totalPages: 1,
                visiblePages: 10,
                currentPage: 1,
                first: '<li class="first"><a href="javascript:void(0);">首页<\/a><\/li>',
                prev: '<li class="prev"><a href="javascript:void(0);"><i class="arrow arrow2"><\/i>上一页<\/a><\/li>',
                next: '<li class="next"><a href="javascript:void(0);">下一页<i class="arrow arrow3"><\/i><\/a><\/li>',
                last: '<li class="last"><a href="javascript:void(0);">末页<\/a><\/li>',
                page: '<li class="page"><a href="javascript:void(0);">{{page}}<\/a><\/li>',
                onPageChange: function (page) {
                    page = page;
                    loadPaginationData(page, rows);
                }
            });

            $('#btnAdd').bind('click', function () {
                $.modalOpen({
                    id: "Form",
                    title: "新增图文素材",
                    url: '/WeixinManage/WxNews/Form', //iframe的url
                    width: "90%",
                    height: "90%",
                    btn: null,
                    callBack: function (iframeId) {
                        //top.frames[iframeId].submitForm();
                    }
                });
            })
        });
        function loadPaginationData(page,rows) {
            $.ajax({
                url: "/WeixinManage/WxNews/GetGridJson?&rows=" + rows + "&page=" + page,
                data: {},
                dataType: "json",
                async: false,
                success: function (result) {
                    var col1Data = {}; col1Data.wxNews = [];
                    var col2Data = {}; col2Data.wxNews = [];
                    var col3Data = {}; col3Data.wxNews = [];
                    var col4Data = {}; col4Data.wxNews = [];

                    for (var i = 0; i < result.rows.length; i++) {
                        var colNum = (i + 1) % 3;
                        if (colNum === 1) col1Data.wxNews.push(result.rows[i]);
                        else if (colNum === 2) col2Data.wxNews.push(result.rows[i]);
                        else if (colNum === 3) col3Data.wxNews.push(result.rows[i]);
                        else if (colNum === 0) col4Data.wxNews.push(result.rows[i]);
                        else;
                    }

                    var col1Html = template('social-feed-box', col1Data);
                    var col2Html = template('social-feed-box', col2Data);
                    var col3Html = template('social-feed-box', col3Data);
                    var col4Html = template('social-feed-box', col4Data);

                    document.getElementById('col1').innerHTML = col1Html;
                    document.getElementById('col2').innerHTML = col2Html;
                    document.getElementById('col3').innerHTML = col3Html;
                    document.getElementById('col4').innerHTML = col4Html;

                    $('#jqpagination').jqPaginator('option', { totalPages: result.total == 0 ? result.total + 1 : result.total });
                    bindEvent();
                }
            });
        }
        function bindEvent() {
            $('.newsEdit').unbind();
            $('.newsEdit').bind('click', function () {
                $.modalOpen({
                    id: "Form",
                    title: "编辑图文素材",
                    url: '/WeixinManage/WxNews/Form?keyValue=' + $(this).data('id'), //iframe的url
                    width: "90%",
                    height: "90%",
                    btn: null,
                    callBack: function (iframeId) {
                        //top.frames[iframeId].submitForm();
                    }
                });
            });
            $('.newsDelete').unbind();
            $('.newsDelete').bind('click', function () {
                var keyValue = $(this).data('id');
                $.deleteForm({
                    url: "/WeixinManage/WxNews/DeleteForm",
                    param: { keyValue: keyValue },
                    success: function () {
                        loadPaginationData(page, rows);
                    }
                })
            });
        }
    </script>
</body>
</html>
