/src/.vs
/src/NFineCore.Support/obj
/src/NFineCore.Support/bin
/src/NFineCore.EntityFramework/obj
/src/NFineCore.EntityFramework/bin
/src/NFineCore.Repository/obj
/src/NFineCore.Repository/bin
/src/NFineCore.Service/obj
/src/NFineCore.Service/bin
/src/NFineCore.Web/obj
/src/NFineCore.Web/bin
/src/NFineCore.Web/wwwroot/attach
/src/NFineCore.Web/wwwroot/upload
/src/NFineCore.Web/App_Data
/src/packages



src/NFineCore.Support/bin/Debug/netcoreapp2.2/NFineCore.Support.deps.json
src/NFineCore.Support/bin/Debug/netcoreapp2.2/NFineCore.Support.deps.json
src/NFineCore.Support/bin/Debug/netcoreapp2.2/NFineCore.Support.deps.json
src/NFineCore.Support/bin/Debug/netcoreapp2.2/NFineCore.Support.dll
src/NFineCore.Support/bin/Debug/netcoreapp2.2/NFineCore.Support.deps.json
src/NFineCore.Support/obj/Debug/netcoreapp2.2/NFineCore.Support.dll
src/NFineCore.Support/obj/Debug/netcoreapp2.2/NFineCore.Support.csproj.FileListAbsolute.txt
