src/.vs
src/NFineCore.Core/bin
src/NFineCore.Core/obj
src/NFineCore.Data/bin
src/NFineCore.Data/obj
src/NFineCore.EntityFramework/bin
src/NFineCore.EntityFramework/obj
src/NFineCore.Repository/bin
src/NFineCore.Repository/obj
src/NFineCore.Service/bin
src/NFineCore.Service/obj
src/NFineCore.Support/bin
src/NFineCore.Support/obj
src/NFineCore.Web/bin
src/NFineCore.Web/obj
src/NFineCore.Web/log
src/NFineCore.WebApi/bin
src/NFineCore.WebApi/obj
src/Senparc.Weixin.MP.Sample.CommonService/bin
src/Senparc.Weixin.MP.Sample.CommonService/obj
src/packages