src/.vs
src/NFine.Core/bin
src/NFine.Core/obj
src/NFine.Data/bin
src/NFine.Data/obj
src/NFine.EntityFramework/bin
src/NFine.EntityFramework/obj
src/NFine.Repository/bin
src/NFine.Repository/obj
src/NFine.Service/bin
src/NFine.Service/obj
src/NFine.Support/bin
src/NFine.Support/obj
src/NFine.Web/bin
src/NFine.Web/obj
src/NFine.Web/log
src/NFine.WebApi/bin
src/NFine.WebApi/obj
src/Senparc.Weixin.MP.Sample.CommonService/bin
src/Senparc.Weixin.MP.Sample.CommonService/obj
src/packages