
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <style>

    </style>
</head>
<body>
    <div class="c-container">
        <div class="c-header">
            仓库列表
            <div class="c-cutline">
                <div class="c-cutline-item">
                    <img src="resources/css/images/cutline-green.png" alt="">
                    空闲
                </div>
                <div class="c-cutline-item">
                    <img src="resources/css/images/cutline-yellow.png" alt="">
                    紧张
                </div>
                <div class="c-cutline-item">
                    <img src="resources/css/images/cutline-red.png" alt="">
                    已满
                </div>
            </div>
        </div>
        <div class="c-warehouse">

            <div class="c-warehouse-average">
                <a class="c-warehouse-item c-warehouse-free" href="仓库分区列表.html">
                    <div class="c-warehouse-title">原烟12号库下</div>

                    <div class="c-warehouse-desc">
                        <div class="c-warehouse-desc-item c-float-left">
                            <div class="">36100</div>
                            <div class="c-warehouse-desc-name">现存</div>
                        </div>

                        <div class="c-warehouse-desc-item">
                            <div class="">70000</div>
                            <div class="c-warehouse-desc-name">库容</div>
                        </div>

                        <div class="c-warehouse-desc-item c-float-right">
                            <div class="">36111.4</div>
                            <div class="c-warehouse-desc-name">重量(公斤)</div>
                        </div>
                    </div>

                    <div class="c-progress-wrapper">
                        <div class="c-progress">
                            <div class="c-progress-bar"></div>
                        </div>
                        <div class="c-progress-data">51.6%</div>
                    </div>
                </a>
            </div>

            <div class="c-warehouse-average">
                <a class="c-warehouse-item c-warehouse-serious">
                    <div class="c-warehouse-title">原烟12号库</div>
                    <div class="c-warehouse-desc-item c-float-right">
                        <div class="">36111.4</div>
                        <div class="c-warehouse-desc-name">重量(公斤)</div>
                    </div>
                    <div class="c-warehouse-desc">
                        <div class="c-warehouse-desc-item c-float-left">
                            <div class="">16000</div>
                            <div class="c-warehouse-desc-name">现存</div>
                        </div>

                        <div class="c-warehouse-desc-item">
                            <div class="">20000</div>
                            <div class="c-warehouse-desc-name">库容</div>
                        </div>

                        <div class="c-warehouse-desc-item c-float-right">
                            <div class="">15700.4</div>
                            <div class="c-warehouse-desc-name">重量(公斤)</div>
                        </div>
                    </div>

                    <div class="c-progress-wrapper">
                        <div class="c-progress">
                            <div class="c-progress-bar"></div>
                        </div>
                        <div class="c-progress-data">80.0%</div>
                    </div>
                </a>
            </div>

            <div class="c-warehouse-average">
                <a class="c-warehouse-item c-warehouse-full">
                    <div class="c-warehouse-title">原烟10号库</div>

                    <div class="c-warehouse-desc">
                        <div class="c-warehouse-desc-item c-float-left">
                            <div class="">40000</div>
                            <div class="c-warehouse-desc-name">现存</div>
                        </div>

                        <div class="c-warehouse-desc-item">
                            <div class="">40000</div>
                            <div class="c-warehouse-desc-name">库容</div>
                        </div>

                        <div class="c-warehouse-desc-item c-float-right">
                            <div class="">40120.4</div>
                            <div class="c-warehouse-desc-name">重量(公斤)</div>
                        </div>
                    </div>

                    <div class="c-progress-wrapper">
                        <div class="c-progress">
                            <div class="c-progress-bar"></div>
                        </div>
                        <div class="c-progress-data">100%</div>
                    </div>
                </a>
            </div>

            <div class="c-warehouse-average">
                <a class="c-warehouse-item c-warehouse-serious">
                    <div class="c-warehouse-title">原烟9号库</div>

                    <div class="c-warehouse-desc">
                        <div class="c-warehouse-desc-item c-float-left">
                            <div class="">16000</div>
                            <div class="c-warehouse-desc-name">现存</div>
                        </div>

                        <div class="c-warehouse-desc-item">
                            <div class="">20000</div>
                            <div class="c-warehouse-desc-name">库容</div>
                        </div>

                        <div class="c-warehouse-desc-item c-float-right">
                            <div class="">15700.4</div>
                            <div class="c-warehouse-desc-name">重量(公斤)</div>
                        </div>
                    </div>

                    <div class="c-progress-wrapper">
                        <div class="c-progress">
                            <div class="c-progress-bar"></div>
                        </div>
                        <div class="c-progress-data">80.0%</div>
                    </div>
                </a>
            </div>

            <div class="c-warehouse-average">
                <a class="c-warehouse-item c-warehouse-full">
                    <div class="c-warehouse-title">原烟8号库</div>

                    <div class="c-warehouse-desc">
                        <div class="c-warehouse-desc-item c-float-left">
                            <div class="">40000</div>
                            <div class="c-warehouse-desc-name">现存</div>
                        </div>

                        <div class="c-warehouse-desc-item">
                            <div class="">40000</div>
                            <div class="c-warehouse-desc-name">库容</div>
                        </div>

                        <div class="c-warehouse-desc-item c-float-right">
                            <div class="">40120.4</div>
                            <div class="c-warehouse-desc-name">重量(公斤)</div>
                        </div>
                    </div>

                    <div class="c-progress-wrapper">
                        <div class="c-progress">
                            <div class="c-progress-bar"></div>
                        </div>
                        <div class="c-progress-data">100%</div>
                    </div>
                </a>
            </div>

            <div class="c-warehouse-average">
                <a class="c-warehouse-item c-warehouse-free">
                    <div class="c-warehouse-title">原烟6号库</div>

                    <div class="c-warehouse-desc">
                        <div class="c-warehouse-desc-item c-float-left">
                            <div class="">0</div>
                            <div class="c-warehouse-desc-name">现存</div>
                        </div>

                        <div class="c-warehouse-desc-item">
                            <div class="">40000</div>
                            <div class="c-warehouse-desc-name">库容</div>
                        </div>

                        <div class="c-warehouse-desc-item c-float-right">
                            <div class="">0.0</div>
                            <div class="c-warehouse-desc-name">重量(公斤)</div>
                        </div>
                    </div>

                    <div class="c-progress-wrapper">
                        <div class="c-progress">
                            <div class="c-progress-bar"></div>
                        </div>
                        <div class="c-progress-data">0.0%</div>
                    </div>
                </a>
            </div>

            <div class="c-warehouse-average">
                <a class="c-warehouse-item c-warehouse-free">
                    <div class="c-warehouse-title">精选仓库</div>

                    <div class="c-warehouse-desc">
                        <div class="c-warehouse-desc-item c-float-left">
                            <div class="">0</div>
                            <div class="c-warehouse-desc-name">现存</div>
                        </div>

                        <div class="c-warehouse-desc-item">
                            <div class="">40000</div>
                            <div class="c-warehouse-desc-name">库容</div>
                        </div>

                        <div class="c-warehouse-desc-item c-float-right">
                            <div class="">0.0</div>
                            <div class="c-warehouse-desc-name">重量(公斤)</div>
                        </div>
                    </div>

                    <div class="c-progress-wrapper">
                        <div class="c-progress">
                            <div class="c-progress-bar"></div>
                        </div>
                        <div class="c-progress-data">0.0%</div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</body>
</html>
