<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <script src="/lib/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/lib/bootstrap/3.3.7/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="/css/framework-style.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-fileinput/css/fileinput.css" rel="stylesheet" />
    @*<link href="~/lib/bootstrap-fileinput/themes/explorer/theme.css" rel="stylesheet" />*@
    @*<link href="~/lib/bootstrap-fileinput/themes/explorer-fa/theme.css" rel="stylesheet" />*@
    <script src="~/lib/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="~/lib/bootstrap-fileinput/js/locales/zh.js"></script>
    @*<script src="~/lib/bootstrap-fileinput/themes/explorer-fa/theme.js"></script>*@
    <style>
        .file-preview {
            height: 300px;
            border-radius: 0px;
        }
        .file-drop-zone {
            margin: 0px 0px 0px 0px;
        }
        .file-drop-zone-title {
            padding: 100px 10px;
        }
    </style>
</head>
<body class="white-bg">
    <div class="">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox no-margins">
                    <div class="ibox-content" style="padding:5px 5px 5px 5px;">
                        <div class="file-loading">
                            <input id="uploadfile" name="upfile" type="file">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $("#uploadfile").fileinput({
                uploadUrl: '/SystemManage/Upload/OnPostUpload',
                //theme: 'explorer-fa',
                language: 'zh',
                maxFileSize: 2048,//单位为kb，如果为0表示不限制文件大小
                minFileCount: 1,
                maxFileCount: 1,
                dropZoneEnabled: true,
                removeClass: "btn btn-white",
                uploadClass: "btn btn-white",
                browseClass: "btn btn-white", //按钮样式
                previewFileIcon: "",
                showUpload: true,
                showClose: false,
                autoReplace: true,
                elErrorContainer: false,
                showUploadedThumbs: false,
                layoutTemplates: {
                    actionUpload: '',
                    actionZoom: ''
                },
                previewsettings: {
                    image: { width: "300px", height: "200px" },
                }
            });
            //$('#uploadfile').on('fileerror', function (event, data, msg) {

            //});
            //$("#uploadfile").on("fileuploaded", function (event, data, previewId, index) {

            //})
            //$('#uploadfile').on('filebatchuploaderror', function (event, data, msg) {

            //});
        });
        function submitForm() {
            if (!$('#form1').formValid()) {
                return false;
            }
            var postData = $("#form1").formSerialize();
            //postData["Content"] = $.htmlEncode(postData["Content"]);
            $.submitForm({
                url: "/WeixinManage/WxText/SubmitForm?keyValue=" + keyValue,
                param: postData,
                success: function () {
                    $.currentWindow().$("#gridList").trigger("reloadGrid");
                }
            })
        }
    </script>
</body>
</html>
